<!DOCTYPE html>

<% include ../includes/head %>

<body>
  <div v-cloak id="app">
    <% include ../partials/header %>


    <%- body %>

    <% include ../partials/footer %>
  </div>


<script src = "/vue.app.js"></script>


</body>

</html>