<div class="container-fluid">
  <div class='col-sm-3'>
    <div class='row justify-content-center'>
      <button data-toggle="modal" data-target=".new-collection-modal-lg" type="button" class="btn btn-primary">+ New Collection</button>
    </div>
    <div class='row justify-content-center'>
      <strong>Collections - {{collections.length}}</strong>
    </div>
    <div class='row justify-content-center'>
      <ul class="list-group">
        <li v-for="collection in collections" class="list-group-item"></li>
      
      </ul>
      <div v-if="!collections.length">
        <p>You don't have any collections yet</p>
      </div>
    </div>

  </div>
  <div class='col-sm-9'>
    <div class='row justify-content-center'>
      <h1>Welcome!</h1>
    </div>
  </div>

</div>

  <% include ./modals/add_new_collection %>

