<script src="/js/components/collection_model_view.js"></script>
<script src="/js/components/collection_list_view.js"></script>
<script src="/js/components/collection_edit_buttons.js"></script>
<script src="/js/components/collection_model_editing_and_building.js"></script>
<script src="/js/components/collection_dynamic_input.js"></script>
<script src="/js/components/collection_CRUD.js"></script>
<script src="/js/components/collection_prop_edit_btns.js"></script>
<script src="/js/components/collection_documents_table.js"></script>
<script src="/js/components/collection_data_type_select.js"></script>
<script src="/js/components/collection_img_uploader.js"></script>
<script src="/js/components/common/add_new_collection_modal.js"></script>
<script src="/js/components/collection_edit_data_input.js"></script>



<div class="container">
  <div class='row justify-content-center'>
      <div class='col-sm-3'>
        <collection-list-view 
        />
      </div>
      <div class='col-sm-9'>
        <div class='row justify-content-center'>
          <h1>Manage Collections</h1>
        </div>
          <collection-model-view
            @delete_collection="delete_collection"
            @add_model_property="add_model_property"
          />
      </div>
  </div>
  <div class='row justify-content-center'>
    <collections-documents-table 


    />
  </div>

</div>


